@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/inter-400.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/inter-900.woff2") format("woff2");
}

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    margin: 0 auto;
}

/* ************************************* BODY STYLES ********************************** */
    
/* ******************** COMMON STYLES ********************* */
body {
    margin: 0;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    background-color: #FEAFC3;
    color: #2D3440;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #2D3440;
    cursor: pointer;
    display: block; 
}

.btn {
    font-family: inherit;
    padding: 12px 32px;
    color: #2D3440;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    background-color: #FCFCFC;
    border: 4px solid rgba(252, 252, 252, 0.4);
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
    background-clip: padding-box;
}

.btn:hover {
    background: rgba(252, 252, 252, 0.4);
    border: 4px solid #FCFCFC;
    box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
}

.btn:focus {
    border-color: transparent; 
    box-shadow: 0 0 0 2px #2D3440;
}

.btn:disabled {
    color: #B9B9B9;
    background: #E7E7E7;
}

 .btn-red {
    color: #FCFCFC;
    background-color: #FF2F64;
    border: 4px solid rgba(255, 47, 100, 0.3);
}

.btn-red:hover {
    color: #2D3440;
    background: rgba(252, 252, 252, 0.3);
    border: 4px solid #FF2F64;
}

.btn-red:focus {
    border-color: transparent; 
    box-shadow: 0 0 0 2px #2D3440;
}

.btn-red:disabled {
    color: #565C66;
    background: #B9B9B9;
    border: 4px solid rgba(185, 185, 185, 0.3);
}

.btn-filter {
    padding: 8px 32px;
    background-color: rgba(252, 252, 252, 0.3);
    border: 2px solid #FCFCFC;
    border-radius: 20px;
    align-self: flex-end;
}

.btn-filter:hover {
    background: #FCFCFC;
    border: 2px solid rgba(252, 252, 252, 0.3);
}

.btn-filter:focus {
    border: 2px solid #2D3440;
}

.btn-filter:disabled {
    color: #2D3440;
    background: rgba(252, 252, 252, 0.3);
    opacity: 0.4;
    border: 2px solid #FCFCFC;
}   

.input-field {
    border: 1px solid #B9B9B9;
    border-radius: 4px;
}

.input-field:hover {
    border-color: #2D3440;
}

.input-field:focus {
    border: 1px solid #2D3440;
    box-shadow: 0 0 0 1px #2D3440;
}

.clear-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

li.clear-margin-bottom {
    margin-bottom: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/* ******************** COMMON HEADER STYLES ********************* */

.navigation {
    display: flex;
    width: 1170px;
}

.navigation-logo-link {
    width: 137px;
    margin: 24px 16px 24px 0px;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 423px;
    outline: none;
}



.navigation-link {
    display: block;
    padding: 8px 16px;
    border: 2px solid transparent;
    outline: none;
}

.navigation-user {
    width: 440px;
    margin-left: auto;
    justify-content: flex-end;
}

.navigation-link-current {
    color: #FCFCFC;
    background: #FF4A78;
    border-radius: 26px;
}

.navigation-user .navigation-link {
    position: relative;
    padding: 6px 16px;
}

.navigation-user .navigation-link-login, 
.navigation-user .navigation-link-card {
    padding-left: 40px;
}

.navigation-link-login .navigation-icon,
.navigation-link-card .navigation-icon  {
    right: auto;
    left: 16px;
    margin: auto 0;
  }

.navigation-link-search {
      min-width: 32px;
      min-height: 32px;
  }

.navigation-user .navigation-link {
    display: block;
    background-color: rgba(252,252,252, 0.3);
    border-radius: 26px;

}

.navigation-user li:not(:last-child) {
    margin-right: 8px;
}

.navigation-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;  
}

.navigation-link:hover {
    background-color: rgba(252,252,252, 0.5);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 26px;
}

.navigation-link:focus {
    background-color: rgba(252,252,252, 0.5);
    border-color: #2D3440;
    border-radius: 26px;  
}

.navigation-link:active {
    background-color: rgba(252,252,252, 1);
    border-radius: 26px;
}

.header-phone {
    font-weight: 700;
}

/* ******************** INDEX (SOME CATALOG) STYLES ********************* */

.main-index {
    flex-grow: 1;
}

.main-products {
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.product-order-wrapper {
    width: 470px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-name {
    width: 470px;
    font-size: 36px;
    line-height: 46px;
    margin-top: 0;
    margin-bottom: 24px;
}

.product-description {
    width: 414px;
    font-size: 18px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 48px;
    
}

.product-slider-photo {
    width: 306px;
}

.product-slider-photo-next {
    width: 66px;
    height: 150px;
}

.pagination-social-wrapper {
    display: flex;
    justify-content: space-between;
}

.products-list-pagination {
    display: flex;
}

.product-item {
    display: block;
    width: 12px;
    height: 12px;
    margin-right: 8px;
}

.social-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.social-item {
    width: 24px;
    height: 24px;
    
}

.social-item .button {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(252,252,252, 0.3);
    border-radius: 100px;
    box-sizing: content-box;
}

.social-item .button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FCFCFC;    
}

.social-vk::before {
    -webkit-mask-image: url("../img/vk.svg");
}

.social-fb::before {
    -webkit-mask-image: url("../img/fb.svg");
}

.social-instagram::before {
    -webkit-mask-image: url("../img/insta.svg");
}

.social-item:hover .button::before  {
    background-color: #2D3440;
}

.social-item:focus .button  {
    border-color: #2D3440;
}

.social-item:focus .button::before  {
    background-color: #2D3440;
}


/* .social-item svg {
    fill: #FCFCFC;
    border: 2px solid rgba(252,252,252, 0.3);
    border-radius: 100px;
}

.social-item:hover svg {
    fill: #2D3440;
}

.social-item:focus svg {
    fill: #2D3440;
    border-color: #2D3440;
} */

.slider-button {
    width: 38px;
    height: 38px;
}

.gift {
    margin-bottom: 80px;
}

.gift-wrapper {
    display: flex;
    margin: 0;
    padding: 0;
}

.gift-item {
    display: flex;
    width: 570px;
    margin-right: 30px;
    padding: 40px 15px 0px 40px;
    background-color: #FF7799;
    border-radius: 16px;
    overflow: hidden;
}

.gift-item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.gift-item-marshmallow {
    margin-right: 0;
    padding-right:7px;
}

.gift-item-photo {
    margin: 0;
    margin-top: -12px;
}

.gift-item-photo-marshmallow {
    margin-left: -3px;;
    margin-top: -21px;
}

.gift-title {
    width: 443px;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    margin-bottom: 56px;
}

.gift-item-title {
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 16px;
}

.gift-item-description {
    margin: 0;
    margin-bottom: 32px;
}

.popular-products {
    margin-bottom: 80px;
}

.products-title {
    width: 527px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 95px;
    font-size: 32px;
    line-height: 46px;
}

.products-list {
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    column-gap: 30px;
    row-gap: 91px;
    margin-bottom: 57px;
}

.product-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 270px;
    padding: 0px 40px 28px 40px;
    background-color: #FCFCFC;
    border-radius: 8px;
}

.product-card-link img {
    display:block;
    margin: 0 auto;
    margin-top: -51px;
    margin-bottom: 16px;
    border-radius: 84px;
}

.product-card-name {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 8px;
}

.product-card-description {
    color: #565C66;
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
}

.product-card-price {
    font-size: 20px;
    line-height: 24px;
    margin-right: auto;
}

.product-card-button {
    width: 32px;
    height: 32px;
    display: block;
    background-color: #FF2F64;
    border-radius: 26px;
    padding: 8px;
}

.product-card-button .card-icon {
    fill: #FCFCFC;
}

.product-card-button:hover .card-icon {
    fill: #2D3440;
}

.product-card-button:hover {
    background: rgba(252, 252, 252, 0.3);
    box-shadow: inset 0 0 0 2px #FF2F64;
}

.product-card-button:focus .card-icon {
    box-shadow: inset 0 0 0 2px #2D3440;
}

.product-card-button:disabled {
    background: #B9B9B9;
}

.product-card-button:disabled .card-icon {
    fill: #565C66;
}


.advantages {
    background: #ffffff url("../img/advantages-border.jpg");
    background-size: cover;
    margin-bottom: 80px;
    border-radius: 16px;
    padding: 24px;
}

.advantages-wrapper {
    margin: 0;
    background-color: #FCFCFC;
    border-radius: 16px;
    padding: 56px 40px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
}

.advantages-item {
    width: 490px;
}

.advantages-description {
    color: #565C66;
}

.blog-subscription-wrapper {
    display: flex;
    margin-bottom: 80px;
}

.blog {
    background: #ffffff url("../img//blog-bg.jpg");
    background-size:cover;
    width: 570px;
    border-radius: 16px;
    margin-right: 30px;;
}

.blog-title {
    color: #565C66;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin-left: 32px;
    margin-top: 32px;
}

.blog-link {
    display: block;
    width: 303px;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin-left: 32px;
    margin-top: 12px;
}

.subscription {
    background: #ffffff url("../img/subscription-bg.jpg");
    width: 570px;
    border-radius: 16px;
}

.subscription-description {
    color: #565C66;
}

.subscription-form-wrapper {
    background-color: #FCFCFC;
    margin: 6px;
    border-radius: 16px;
    padding: 26px;
}

.subscription-form .input-field {
    padding: 14px 16px;
    width: 332px;
    margin-right: auto;
}

.delivery {
    background: #ffffff url("../img/delivery-bg.jpg");
    background-size: cover;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
    padding: 64px 64px 64px 100px;
}

.delivery-wrapper {
    width: 371px;
}

.delivery-title {
    width: 356px;
    font-size: 32px;
    line-height: 46px;
    margin: 0;
    margin-bottom: 24px;
}

.delivery-description {
    color: #565C66;
    margin: 0;
    
}

.delivery-form-container {
    width: 500px;
    margin: 0;
    background-color: #FCFCFC;
    padding: 40px 40px 42px 40px;
    box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
    border-radius: 8px;
    display: flex;
    flex-wrap:  wrap;
}

.delivery-form {
    display: flex;
    flex-wrap: wrap;

    width: 420px;
}

.delivery-form label {
    font-weight: 700;
    line-height: 20px;
}

.delivery-form .info {
    width: 14px;
    height: 14px;
    background-image: url("../img/Info.svg");
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 7px;
    vertical-align: super;
}

.delivery-form .input-field {
    display: block;
    margin-top: 8px;
    padding: 14px 16px;
    width: 100%;
}

.delivery-form-description {
    color: #565C66;
    margin: 0;
    margin-bottom: 32px;
}

.delivery-form-date {
    flex-basis: 28%;
    margin-top: 0;
    margin-right: 16px;
    margin-bottom: 20px;
}

.delivery-form-phone {
    flex-grow: 1;
    margin-top: 0;
    margin-bottom: 20px;
}

.delivery-form-address {
    flex-grow: 1;
    margin: 0; 
    margin-bottom: 32px;
}

.button-delivery {
    margin: 0 auto;
}

.feedback {
    background: #ffffff url("../img/feedback-bg.jpg");
    background-size: cover;
    border-radius: 16px;
    font-style: normal;
    padding: 64px 0px 64px 64px;
}

.feedback-form-container {
    background-color: #FCFCFC;
    width: 343px;
    padding: 40px;
    box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
    border-radius: 8px;
}

.feedback-form-container span {
    font-style: normal;
}

.adress-text, 
.contacts-address-phone {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-top: 12px;
}

.contacts-address > * {
    display: block;
}

.contacts-address-title {
    margin: 0;
    margin-bottom: 12px;
}

.adress-text {
    margin: 0;
    margin-top: 12px;
    margin-bottom: 24px;
}

.feedback-button {
    margin-top: 32px;
}

/* ******************** CATALOG STYLES ********************* */

.main-catalog {
    margin-top: 32px;
}

.breadcrumbs {
    display: flex;
    margin-bottom: 16px;
}

.breadcrumbs-item {
    font-weight: 700;
    margin-right: 28px;
    position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
    position: absolute;
    top: 7.5px;
    right: -18px;
    width: 7px;
    height: 6px;
    background-image: url("../img/Union.svg");
    background-position: center;
    background-repeat: no-repeat;
    content: "";
}

.breadcrumbs-link {
    font-size: 14px;
    line-height: 20px;
    border-bottom: 1px solid #2D3440;
}

.breadcrumbs-link-current {
    border-color: transparent;
}

.catalog-title {
    font-size: 32px;
    line-height: 46px;
    margin-top: 16px;
    margin-top: 0;
    margin-bottom: 40px;
}

.catalog-products {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;
}

.background-filter-item {
    background-color: rgba(252, 252, 252, 0.3);
    border: 0;
    border-radius: 20px;
    padding: 10px 16px;
}

.catalog-filter {
    display: flex;
    width: 807px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sorting-container {
    width: 196px;
    margin-right: 24px;
    
}

.price-container {
    width: 196px;
    margin-right: 24px;    
}

.fat-container {
    width: 367px;
    display: flex;
    flex-direction: column;
}

.fat-list {
    display: flex;
}

.fillers-container {
    width: 596px;
    display: flex;
    flex-direction: column;
}

.fillers-list {
    display: flex;
}

.pagination-wrapper {
    display: flex;
}

.pagination-show-more {
    margin-left: auto;
}

.pagination {
    display: flex;
    margin-left: 303px;
    align-items: center;
    gap: 16px;
}

.pagination-page-activ {
    background-color: #FCFCFC;
    border-radius: 50px;
    padding: 2px 8px;
    margin: 9px 0px;
}

.pagination-item:first-of-type {
    transform: rotate(180deg);
}

.pagination-prev {
    background-image: url("../img/next-page.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    padding: 3.33px 4.64px 3.32px 6.66px;
    opacity: 0.2;
}

.pagination-next {
    background-image: url("../img/next-page.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    padding: 3.33px 4.64px 3.32px 6.66px;
}

/* ******************** FOOTER STYLES ********************* */

.page-footer {
    font-size: 14px;
    line-height: 20px;
    flex-shrink: 0;
    padding: 48px 14px 48px 4px;
}

.footer-border-top {
    border-top: 1px solid rgba(252, 252, 252, 0.3);
}

.page-footer-wrapper {
    display: flex;
}

.footer-social {
    width: 104px;
    margin-right: 299px;
}

.footer-social-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.footer-menu {
    width: 356px;
    margin-right: 200px;
}

.footer-menu-list {
    display: flex;
    flex-wrap: wrap;
}

.footer-menu-item{
    width: 40%;
    white-space: nowrap;
    margin-right: 24px;
    margin-bottom: 8px;
}

.made-in {
    width: 210px;
}

.about-text {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}
