@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/inter-400.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/inter-900.woff2") format("woff2");
}

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    margin: 0 auto;
}

/* ************************************* BODY STYLES ********************************** */
    
/* ******************** COMMON STYLES ********************* */
body {
    margin: 0;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    background-color: #FEAFC3;
    color: #2D3440;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #2D3440;    
}

.clear-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

li.clear-margin-bottom {
    margin-bottom: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/* ******************** COMMON HEADER STYLES ********************* */

.navigation {
    display: flex;
}

.navigation-logo-link {
    width: 137px;
}

.navigation-list {
    width: 368px;
}

.navigation-user {
    width: 418px;
    margin-left: auto;
}

/* ******************** INDEX (SOME CATALOG) STYLES ********************* */

.main-index {
    flex: 1;
}

.main-products {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.product-order-wrapper {
    width: 470px;
}

.product-name {
    width: 470px;
    font-size: 36px;
    line-height: 46px;
}

.product-description {
    width: 414px;
    font-size: 18px;
    line-height: 24px;
}

.product-slider-photo {
    width: 306px;
}

.product-slider-photo-next {
    width: 66px;
    height: 150px;
}

.pagination-social-wrapper {
    display: flex;
    justify-content: space-between;
}

.slider-button {
    width: 38px;
    height: 38px;
}

.gift {
    margin-bottom: 80px;
}

.gift-wrapper {
    display: flex;
    margin: 0;
    padding: 0;
}

.gift-item {
    display: flex;
    width: 570px;
    margin-right: 30px;
    padding: 40px 15px 0px 40px;
    background-color: #FF7799;
    border-radius: 16px;
    overflow: hidden;
}

.gift-item-marshmallow {
    margin-right: 0;
    padding-right:7px;
}

.gift-item-photo {
    margin: 0;
    margin-top: -12px;
}

.gift-item-photo-marshmallow {
    margin-left: -3px;;
    margin-top: -21px;
}

.gift-title {
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    margin-bottom: 56px;
}

.gift-item-title {
    font-size: 24px;
    line-height: 30px;
    margin: 0;
}

.popular-products {
    margin-bottom: 80px;
}

.products-title {
    width: 527px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 56px;
    font-size: 32px;
    line-height: 46px;
}

.products-list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.product-card {
    width: 270px;
    background-color: #FCFCFC;
    border-radius: 8px;
    margin-bottom: 90px;
}

.product-card-name {
    font-size: 20px;
    line-height: 24px;
}

.product-card-description {
    color: #565C66;
    text-align: center;
}

.product-card-price {
    font-size: 20px;
    line-height: 24px;
}

.advantages {
    background: #ffffff url("../img/advantages-border.jpg");
    background-size: cover;
    margin-bottom: 80px;
    border-radius: 16px;
    padding: 24px;
}

.advantages-wrapper {
    margin: 0;
    background-color: #FCFCFC;
    border-radius: 16px;
    padding: 56px 40px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
}

.advantages-item {
    width: 490px;
}

.advantages-description {
    color: #565C66;
}

.blog-subscription-wrapper {
    display: flex;
    margin-bottom: 80px;
}

.blog {
    background: #ffffff url("../img//blog-bg.jpg");
    background-size:cover;
    width: 570px;
    border-radius: 16px;
    margin-right: 30px;;
}

.blog-title {
    color: #565C66;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin-left: 32px;
    margin-top: 32px;
}

.blog-link {
    display: block;
    width: 303px;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin-left: 32px;
    margin-top: 12px;
}

.subscription {
    background: #ffffff url("../img/subscription-bg.jpg");
    width: 570px;
    border-radius: 16px;
}

.subscription-description {
    color: #565C66;
}

.subscription-form-wrapper {
    background-color: #FCFCFC;
    margin: 6px;
    border-radius: 16px;
    padding: 26px;
}

.delivery {
    background: #ffffff url("../img/delivery-bg.jpg");
    background-size: cover;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
    padding: 64px 64px 64px 100px;
}

.delivery-wrapper {
    width: 371px;
}

.delivery-title {
    width: 356px;
    font-size: 32px;
    line-height: 46px;
    margin: 0;
    margin-bottom: 24px;
}

.delivery-description {
    color: #565C66;
    margin: 0;
    
}

.delivery-form-container {
    width: 500px;
    margin: 0;
    background-color: #FCFCFC;
    padding: 40px 40px 42px 40px;
    box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
    border-radius: 8px;
}

.delivery-form-description {
    color: #565C66;
}

.feedback {
    background: #ffffff url("../img/feedback-bg.jpg");
    background-size: cover;
    border-radius: 16px;
    font-style: normal;
    padding: 64px 0px 64px 64px;
}

.feedback-form-container {
    background-color: #FCFCFC;
    width: 343px;
    box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
    border-radius: 8px;
}

.feedback-form-container span {
    font-style: normal;
}

.about-text, 
.contacts-address-phone {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

/* ******************** CATALOG STYLES ********************* */

.breadcrumbs-link {
    font-size: 14px;
    line-height: 20px;
}

.catalog-title {
    font-size: 32px;
    line-height: 46px;
    margin-top: 16px;
    margin-bottom: 40px;
}

.catalog-products {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;
}

.catalog-filter {
    display: flex;
    width: 807px;
    flex-wrap: wrap;
}

.sorting-container {
    width: 196px;
    margin-right: 24px;
    
}

.price-container {
    width: 196px;
    margin-right: 24px;    
}

.fat-container {
    width: 367px;
    display: flex;
    flex-direction: column;
}

.fat-list {
    display: flex;
}

.fillers-container {
    width: 596px;
    display: flex;
    flex-direction: column;
}

.fillers-list {
    display: flex;
}

.pagination-wrapper {
    display: flex;
}

.pagination-show-more {
    margin-left: auto;
}

.pagination {
    display: flex;
    margin-left: 303px;
}

/* ******************** FOOTER STYLES ********************* */

.page-footer {
    font-size: 14px;
    line-height: 20px;
    flex-shrink: 0;
}

.page-footer-wrapper {
    display: flex;
}

.footer-social {
    width: 144px;
    margin-right: 299px;
}

.footer-social-list {
    display: flex;
}

.footer-menu {
    width: 356px;
    margin-right: 200px;
}

.footer-menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.made-in {
    width: 193px;
}

.about-text {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}