@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/inter-400.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/inter-900.woff2") format("woff2");
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #FEAFC3;
    color: #2D3440;
}

.advantages {
    background: #ffffff url("../img/advantages-border.jpg") no-repeat center;
    width: 1170px;
    height: 480px;
}

.blog {
    background: #ffffff url("../img//blog-bg.jpg") no-repeat center;
    width: 570px;
    height: 216px;
    border-radius: 16px;
}

.subscription {
    background: #ffffff url("../img/subscription-bg.jpg") no-repeat center;
    width: 570px;
    height: 220px;
    border-radius: 16px;
}

.delivery {
    background: #ffffff url("../img/delivery-bg.jpg") no-repeat center;
    width: 1170px;
    height: 534px;
    border-radius: 16px;
}

.feedback {
    background: #ffffff url("../img/feedback-bg.jpg") no-repeat center;
    width: 1170px;
    height: 492px;
    border-radius: 16px;
}